{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Login</h2>
            
            {% if messages %}
    <div class="alert-wrapper">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
            
            <div class="card bg-dark-custom text-light border-0 rounded-lg shadow-lg">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          {{ form.username.label_tag }}
                          {{ form.username|add_class:"form-control form-control-lg bg-dark-custom" }}
                        </div>
                        <div class="form-group">
                          {{ form.password.label_tag }}
                          {{ form.password|add_class:"form-control form-control-lg bg-dark-custom" }}
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                    </form>
                    <p class="text-center mt-3">Don't have an account? <a href="{% url 'register' %}" class="text-primary">Sign up</a></p>
                    <div class="text-center mt-3">
                        <a href="{% url 'password_reset' %}" class="text-primary">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    const alertElement = document.querySelector('.alert-wrapper .alert');
    if (alertElement) {
        setTimeout(function() {
            alertElement.classList.remove('show');
            alertElement.classList.add('hide');
        }, 2000);
    }
});
</script>

{% endblock %}
