{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center mb-4">Forgot Password</h2>
            {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
            <div class="card bg-dark-custom text-light border-0 rounded-lg shadow-lg">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email|add_class:"form-control form-control-lg bg-dark-custom" }}
                        </div>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Send OTP</button>
                    </form>
                    <p class="text-center mt-3">Remembered your password? <a href="{% url 'login' %}" class="text-primary">Back to Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}